.popup__close {
  width: 28px;
  height: 28px;
  position: absolute;
  top: -33px;
  right: -33px;
  background-image: url(../../../images/CloseIcon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: none;
}